h1 {color:white; font-size:35px; text-align:center}
h2 {color:white; font-size:20px}
h3 {color:white; font-size:15}
h4 {color:white; font size: 5; text-align:center}
h5 {color:white; font size:5; text-align:center}
body {background:blue; }
p {color:white}
li {color:white;}